<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Hind:400,600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d38bbd1940.js"></script>
  <title>Home Page</title>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <a class="navbar-brand" href="/">GarageSail</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">

      <a class="nav-item nav-link active" href="/post"><i class="fas fa-sm fa-plus"></i> Post</a>




    </div>
  </div>
</nav>
</header>
<body>
  {{{body}}}
</body>

</html>