<div class="jumbotron jumbotron-fluid text-white">
  <div class="container text-center">
    <h2 class="display-4 pt-5 pb-3">
      Find and post garage sales easier than ever <strong>before.</strong>
    </h2>
    <button class="btn btn-primary">See All</button> <button class="btn btn-primary">Post</button>
  </div>
  <div class="container text-center pt-5">
    <i class="fas fa-angle-double-down fa-3x"></i>
  </div>
  
</div>
<section style="background: white; height: 500px;">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-3">
        <h1>Featured Garage Sales</h1>
        <div class="card-group">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Auto</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Appliances</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Home</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <ul id="testList" class="list-group">
        {{#each garageSales}}
        <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.address}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>