<div class="container">
   <div class="row">
       <div class="col-12 text-center">
           <h1 style="color: white;">Garage Sale Post</h1>
       </div>
       <div class="card border-0 shadow my-5">
           <div class="card-body p-5">
               <h2 class="text-center" style="color: #0869e2; font-weight: 600;">Ditch the signs, attract a larger crowd of shoppers.</h2>
               <div class="text-center pt-5">
            <form>
               <div class="form-group">
                   <label for="formGroupExampleInput">Name</label>
                   <input type="text" class="form-control" id="formName" placeholder="">
               </div>
               <div class="form-group">
                   <label for="formGroupExampleInput2">Address</label>
                   <input type="text" class="form-control" id="formAddress" placeholder="">
               </div>
               <div class="form-group">
                   <label for="formGroupExampleInput2">Date/Time</label>
                   <input type="text" class="form-control" id="formTime" placeholder="mm/dd 00:00 am - 00:00 pm">
               </div>
               <p>Categories</p>
               <div class="form-check">
                   <div class="input-container" id="category-input">
                       <input class="form-check-input" type="checkbox" id="gridCheck1" value="Home">
                       <label class="form-check-label pr-4" for="gridCheck1">Home</label>
                   
                       <input class="form-check-input" type="checkbox" id="gridCheck1" value="Electronics">
                       <label class="form-check-label pr-4" for="gridCheck1">Electronics</label>
                   
                       <input class="form-check-input" type="checkbox" id="gridCheck1" value="Sports/Games">
                       <label class="form-check-label pr-4" for="gridCheck1">Sports/Games</label>
                   
                       <input class="form-check-input" type="checkbox" id="gridCheck1" value="Garden">
                       <label class="form-check-label pr-4" for="gridCheck1">Garden</label>
                       <input class="form-check-input" type="checkbox" id="gridCheck1" value="Clothing">
                       <label class="form-check-label pr-4" for="gridCheck1">Clothing</label>
                       <input class="form-check-input" type="checkbox" id="gridCheck1" value="Other">
                       <label class="form-check-label pr-4" for="gridCheck1">Other</label>
                   </div>
               </div>
               <div class="form-group pt-2">
                   <label for="formGroupExampleInput2">Image Link</label>
                   <input type="text" class="form-control" id="formImage" placeholder="">
               </div>
               <button type="button" class="btn gradientBtn text-white" id="submit">Submit</button>
           </form>
       </div>
           </div>
       </div>
   </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>