html {
  scroll-behavior: smooth;
}
.list-group-item {
  line-height: 2.5;
}
.card-body img {width:100%;}
body {
  background: linear-gradient(298deg, #05ddfa, #0869e2);
  background-size: 1000% 1000%;
  height: 100vh;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  font-family: 'Hind', sans-serif;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
.jumbotron {
  height: 500px;
  background: transparent;
}
.btn-primary {
  width: 140px;
  height: 45px;
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  
  font-weight: 400;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.btn-secondary {
  width: 140px;
  height: 45px;
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  background: linear-gradient(298deg, #05ddfa, #0869e2);
  background-size: 1000% 1000%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.btn-primary:hover {
  background-color: white;
  box-shadow: 0px 15px 20px rgba(67, 68, 68, 0.4);
  color: black;
  transform: translateY(-7px);
}
.navbar-brand {
  font-size: 25px !important;
  color: white;
}
strong {
  font-weight: 600;
}
.card{
background-color: gainsboro;
color: black;
margin-top: 40px;
width: 100%;
border: 1px solid blue;
}
h5 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
p{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.form-check {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
.circle {
  width: 90px;
  height: 90px;
  line-height: 115px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 40px;
}
.image-cover {
  width: 100px;
  height: 150px;
  border-radius: 100%;
  
  object-fit: cover;
  object-position: center right;
}
.circle:hover {
  box-shadow: 0px 15px 20px rgba(67, 68, 68, 0.4);
  transform: translateY(-5px);
}
h3 {
  font-weight: 400;
  letter-spacing: 3px;
}
.card {
  box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
  border-radius: 10px;
  border: none;
  background: white;
}
.gradientBtn {
  -webkit-animation: Gradient 25s ease infinite;
  animation: Gradient 25s ease infinite;
  background: linear-gradient(298deg, #05ddfa, #0869e2);
  background-size: 800% 800%
}
.gradientBtn:hover {
  
  box-shadow: 0px 15px 20px rgba(67, 68, 68, 0.4);
}
#gridCheck1{
  padding: 50px 0;
  max-height:62%;
  max-width:62%;
}
.form-group{
  font-size: 20px;
  color: black;
  text-align: left;
}